* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
}
.layout {
    display: flex;
}
.sidebar {
    flex: 1;
    background-color: aqua;
}
.main {
    flex: 3;
    background-color: blueviolet;

}