.overallbox {
  height: auto;
  /* padding: 15px; */
}

strong {
  color: #198754;
  font-size: larger;
}

#logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

a {
  transition: 0.2s;
}
a:hover {
  background-color: #198754;
}

i {
  margin-right: 8px;
}

.card {
  box-shadow: #198754 2px 4px 10px;
}

.inventory-table {
  box-shadow: #198754 2px 4px 10px;
  border-radius: 10px;
}

.chart-section {
  border-radius: 10px;
  box-shadow: #198754 2px 4px 10px;
}

.addnewproductpage {
  border-radius: 10px;
  box-shadow: #198754 2px 4px 10px;
}

.addproductbtn {
  border-radius: 10px;
}



